<!-- Clients Aside -->

<section id="pricing">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cennik</h2>
        </div>
        <div> 
              <p class="text-muted">
                  Przy dłuższych pobytach i/lub kompleksowych usługach możliwość negocjacji ceny
            </p>
        </div>
        <div
            class="row"
            style="margin-top: 50px;">
            <div
                class="col-lg-12 text-center"
                style="overflow: auto;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td rowspan="4">
                                <h4>SEZON WYSOKI 2019</h4>
                                <p class="section-subheading text-muted">
                                    <ul>
                                        <li>ferie małopolskie (14-27 styczeń)</li>
                                        <li>Wielkanoc + weekend majowy (18 kwiecień - 5 maj)</li>
                                        <li>okres wakacyjny (1 czerwiec - 30 wrzesień)</li>
                                        <li>święto zmarłych (31 październik - 4 listopad)</li>
                                        <li>święto niepodległości (9-11 listopad)</li>
                                        <li>święto Bożego Narodzenia (23-31 grudzień)</li>
                                    </ul>
                                </p>
                            </td>
                            <td>szczenię do 8 miesiąca życia</td>
                            <td>70 zł</td>
                        </tr>
                        <tr>
                            <td>małe psy (do 30 cm w kłębie)</td>
                            <td>50 zł</td>
                        </tr>
                        <tr>
                            <td>średnie psy (do 60 cm w kłębie)</td>
                            <td>60 zł</td>
                        </tr>
                        <tr>
                            <td>duże psy (powyżej 60cm w kłębie)</td>
                            <td>70 zł</td>
                        </tr>

                        <tr class="border-primary">
                            <td rowspan="4">
                                <h4>SEZON NISKI DOBA</h4>

                                <p>Pozostałe terminy</p>
                            </td>

                            <td>szczenię do 8 miesiąca życia</td>

                            <td>60 zł</td>
                        </tr>
                        <tr>
                            <td>
                                średnie psy (do 30 cm w kłębie)
                            </td>

                            <td>40 zł</td>
                        </tr>
                        <tr>
                            <td>
                                średnie psy (do 60 cm w kłębie)
                            </td>

                            <td>50 zł</td>
                        </tr>

                        <tr>
                            <td>duże psy (powyżej 60cm w kłębie)</td>

                            <td>60 zł</td>
                        </tr>
                        <tr></tr>

                        <tr class="border-primary">
                            <td>
                                <h4>POBYT BEZ NOCLEGU/ŚWIETLICA</h4>
                            </td>

                            <td>każdy pies</td>

                            <td>40 zł</td>
                        </tr>

                        <tr></tr>

                        <tr class="border-primary">
                            <td rowspan="4">
                                <h4>USŁUGI GROOMERSKIE</h4>
                            </td>

                            <td>obcinanie pazurków</td>

                            <td>10 zł</td>
                        </tr>

                        <tr>
                            <td>czyszczenie oczu i uszu</td>

                            <td>10 zł</td>
                        </tr>

                        <tr>
                            <td>czesanie, kąpanie, strzyżenie</td>

                            <td>cena ustalana indywidualnie</td>
                        </tr>

                        <tr>
                            <td>full service</td>

                            <td>cena ustalana indywidualnie</td>
                        </tr>

                        <tr class="border-primary">
                            <td>
                                <h4>Transport</h4>

                                <p>według licznika</p>
                            </td>

                            <td></td>

                            <td>2 zł /km</td>
                        </tr>

                        <tr></tr>

                        <tr class="border-primary">
                            <td rowspan="2">
                                <h4>WYŻYWIENIE</h4>
                            </td>

                            <td>100g karmy</td>

                            <td>2 zł</td>
                        </tr>

                        <tr>
                            <td>1kg karmy</td>

                            <td>18 zł</td>
                        </tr>

                        <tr class="border-primary">
                            <td rowspan="3">
                                <h4>ZAKRAPIANIE</h4>

                                <p>ważne ok. 3/4 tygodni</p>
                            </td>

                            <td>pies do 10 kg</td>

                            <td>20 zł</td>
                        </tr>

                        <tr>
                            <td>pies od 10 kg do 20 kg</td>

                            <td>25 zł</td>
                        </tr>

                        <tr>
                            <td>pies od 20 kg</td>

                            <td>30 zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
