<!-- Clients Aside -->

<section id="pricing">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cennik</h2>
        </div>

        <div
            class="row"
            style="margin-top: 50px;">
            <div
                class="col-lg-12 text-center"
                style="overflow: auto;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td rowspan="4">
                                <h4>SEZON WYSOKI DOBA</h4>
                                <p class="section-subheading text-muted">
                                    <ul>
                                        <li>ferie małopolskie</li>
                                        <li>Wielkanoc</li>
                                        <li>weekend majowy</li>
                                        <li>1 czerwiec - 30 wrzesień</li>
                                        <li>31 październik - 4 listopad</li>
                                        <li>23 grudzień - 27 grudzień</li>
                                    </ul>

                                    OD 28 GRUDNIA DO 4 STYCZNIA HOTEL NIECZYNNY
                                </p>
                            </td>

                            <td>małe psy (do 30 cm w kłębie)</td>

                            <td>50zł</td>
                        </tr>

                        <tr>
                            <td>
                                średnie psy (do 50 cm w kłębie)
                            </td>

                            <td>60zł</td>
                        </tr>

                        <tr>
                            <td>duże psy (do 60cm w kłębie)</td>

                            <td>70zł</td>
                        </tr>

                        <tr>
                            <td>XXL (powyżej 60cm w kłębie)</td>

                            <td>80zł</td>
                        </tr>

                        <tr class="border-primary">
                            <td rowspan="4">
                                <h4>SEZON NISKI</h4>

                                <p>Pozostałe daty</p>
                            </td>

                            <td>małe psy (do 30 cm w kłębie)</td>

                            <td>40zł</td>
                        </tr>

                        <tr>
                            <td>
                                średnie psy (do 50 cm w kłębie)
                            </td>

                            <td>50zł</td>
                        </tr>

                        <tr>
                            <td>duże psy (do 60cm w kłębie)</td>

                            <td>60zł</td>
                        </tr>

                        <tr>
                            <td>XXL (powyżej 60cm w kłębie)</td>

                            <td>70zł</td>
                        </tr>

                        <tr class="border-primary">
                            <td>
                                <h4>POBYT BEZ NOCLEGU/ŚWIETLICA</h4>
                            </td>

                            <td>każdy pies</td>

                            <td>40zł</td>
                        </tr>

                        <tr></tr>

                        <tr class="border-primary">
                            <td rowspan="4">
                                <h4>USŁUGI GROOMERSKIE</h4>
                            </td>

                            <td>obcinanie pazurków</td>

                            <td>10zł</td>
                        </tr>

                        <tr>
                            <td>czyszczenie oczu i uszu</td>

                            <td>10zł</td>
                        </tr>

                        <tr>
                            <td>czesanie, kąpanie, strzyżenie</td>

                            <td>cena ustalana indywidualnie</td>
                        </tr>

                        <tr>
                            <td>full service</td>

                            <td>cena ustalana indywidualnie</td>
                        </tr>

                        <tr class="border-primary">
                            <td>
                                <h4>Transport</h4>

                                <p>według licznika</p>
                            </td>

                            <td></td>

                            <td>2zł /km</td>
                        </tr>

                        <tr></tr>

                        <tr class="border-primary">
                            <td rowspan="2">
                                <h4>WYŻYWIENIE</h4>
                            </td>

                            <td>100g karmy</td>

                            <td>2zł</td>
                        </tr>

                        <tr>
                            <td>1kg karmy</td>

                            <td>18zł</td>
                        </tr>

                        <tr class="border-primary">
                            <td rowspan="3">
                                <h4>ZAKRAPIANIE</h4>

                                <p>ważne ok. 3/4 tygodni</p>
                            </td>

                            <td>pies do 10 kg</td>

                            <td>20zł</td>
                        </tr>

                        <tr>
                            <td>pies od 10 kg do 20 kg</td>

                            <td>25zł</td>
                        </tr>

                        <tr>
                            <td>pies od 20 kg</td>

                            <td>30zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="col-lg-12 text-center"  style="margin-top: 50px; ">
                <h2 class="section-heading">Zadowoleni klienci</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>

            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                            <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4>Artur Skowroński</h4>
                    <p class="section-subheading text-muted">Aenean mauris tortor, maximus nec est a, convallis tempus lorem. Aliquam erat volutpat. Aliquam sagittis ante id enim fermentum scelerisque. Sed quam metus, ultricies vitae sagittis in, semper vel tellus. Proin dapibus semper erat at hendrerit.</h3>
                </div>
                <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                                <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        </div>
                        <h4>Artur Skowroński</h4>
                        <p class="section-subheading text-muted">Aenean mauris tortor, maximus nec est a, convallis tempus lorem. Aliquam erat volutpat. Aliquam sagittis ante id enim fermentum scelerisque. Sed quam metus, ultricies vitae sagittis in, semper vel tellus. Proin dapibus semper erat at hendrerit.</h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                            </div>
                            <h4>Artur Skowroński</h4>
                            <p class="section-subheading text-muted">Aenean mauris tortor, maximus nec est a, convallis tempus lorem. Aliquam erat volutpat. Aliquam sagittis ante id enim fermentum scelerisque. Sed quam metus, ultricies vitae sagittis in, semper vel tellus. Proin dapibus semper erat at hendrerit.</h3>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <div class="team-member">
                                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h4>Artur Skowroński</h4>
                                <p class="section-subheading text-muted">Aenean mauris tortor, maximus nec est a, convallis tempus lorem. Aliquam erat volutpat. Aliquam sagittis ante id enim fermentum scelerisque. Sed quam metus, ultricies vitae sagittis in, semper vel tellus. Proin dapibus semper erat at hendrerit.</h3>
                            </div>
            </div> -->
    </div>
</section>