<!-- Clients Aside -->

<section id="pricing">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cennik</h2>
        </div>
        <div> 
              <p class="text-muted">
                  Przy dłuższych pobytach i/lub kompleksowych usługach możliwość negocjacji ceny. Do hotelu przyjmowan są psy nie młodsze niż 8 miesięcy.
            </p>
        </div>
        <div
            class="row"
            style="margin-top: 50px;">
            <div
                class="col-lg-12 text-center"
                style="overflow: auto;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>małe psy (do 30 cm w kłębie)</td>
                            <td>60 zł</td>
                        </tr>
                        <tr>
                            <td>średnie psy (do 60 cm w kłębie)</td>
                            <td>60 zł</td>
                        </tr>
                        <tr>
                            <td>duże psy (powyżej 60cm w kłębie)</td>
                            <td>80 zł</td>
                        </tr>

                        <tr>
                            <td>gryzoń</td>

                            <td>30 zł</td>
                        </tr>

                        <tr>
                            <td>kot</td>

                            <td>50 zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
