<!-- Portfolio Grid Section -->
    <section id="document" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dokumenty</h2>
                    <p class="text-muted"></p>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="col-lg-3 text-center">                            
                        <h4 class="section-subheading text-muted text-primary" style="cursor:pointer; margin-top: 10px">
                            <a target="blank" href="{{ "/documents/Oswiadczenie-HSDH.pdf" | prepend: site.baseurl }}">
                            <i style="margin-right: 10px" class="fa fa-file-pdf-o"></i> Oświadczenie</a>
                        </h4>
                    </div>
                    <div class="col-lg-3 text-center">                            
                            <h4 class="section-subheading text-muted text-primary" style="cursor:pointer; margin-top: 10px">
                                <a target="blank" href="{{ "/documents/Regulamin-HSDH.pdf" | prepend: site.baseurl }}">
                                <i style="margin-right: 10px" class="fa fa-file-pdf-o"></i> Regulamin</a>
                            </h4>
                    </div>
                    <div class="col-lg-3 text-center">                            
                        <h4 class="section-subheading text-muted text-primary" style="cursor:pointer; margin-top: 10px">
                            <a target="blank" href="{{ "/documents/Umowa-pies-i-kot-HSDH.pdf" | prepend: site.baseurl }}">
                            <i style="margin-right: 10px" class="fa fa-file-pdf-o"></i> Umowa (pies i kot)</a>
                        </h4>
                    </div>
                    <div class="col-lg-3 text-center">                            
                        <h4 class="section-subheading text-muted text-primary" style="cursor:pointer; margin-top: 10px">
                            <a target="blank" href="{{ "/documents/Umowa-gryzon-HSDH.pdf" | prepend: site.baseurl }}">
                            <i style="margin-right: 10px" class="fa fa-file-pdf-o"></i> Umowa (gryzoń)</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
    </section>
