<!-- Portfolio Grid Section -->
{% assign dzialka1 = "dh110,dh113" | split: "," %} {% assign dzialka2 = "dh114,dh115" | split: "," %} {% assign dzialka3 = "dh117" | split: "," %} {% assign hotel1 = "dh60,dh26,dh32" | split: "," %} {% assign hotel2 = "dh37,dh40,dh47" | split: "," %} {%
assign hotel3 = "dh51,dh58" | split: "," %} {% assign psy1 = "dh12,dh15,dh18,dh19,dh3,dh102,dh122" | split: "," %} {% assign psy2 = "dh5,dh61,dh66,dh93,dh73,dh109,dh124" | split: "," %} {% assign psy3 = "dh8,dh80,dh81,dh87,dh9,dh120,dh126" |
split: "," %} {% assign column1 = "dh1,dh3,dh5,dh8" | split: "," %} {% assign column2 = "dh9,dh12,dh15,dh18" | split: "," %} {% assign column3 = "dh19,dh21,dh26,dh32" | split: "," %} {% assign column4 = "dh37,dh40,dh47,dh51" | split: "," %} {% assign
column5 = "dh58,dh60,dh61,dh66" | split: "," %} {% assign column6 = "dh70,dh72,dh73,dh80" | split: "," %} {% assign column7 = "dh81,dh87,dh93,dh102" | split: "," %} {% assign column8 = "dh109,dh110,dh113,dh114" | split: "," %} {% assign column9 = "dh115,dh117,dh120,dh122"
| split: "," %}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Galeria</h2>
            </div>
        </div>
        <div class="row perfundo js-perfundo">
            <div class="col-lg-12 text-center">
                <h3 class="text-muted">Ogród</h2>
            </div>
            <div class="gallery-row">
                <div class="gallery-column">
                    {% for picture in dzialka1 %}
                    <a rel="gallery-1" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in dzialka2 %}
                    <a rel="gallery-1" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in dzialka3 %}
                    <a rel="gallery-1" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12 text-center">
                    <h3 class="text-muted">Jadalnia</h2>
            </div>
            <div class="gallery-row">
                <div class="gallery-column">
                    {% for picture in hotel1 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in hotel2 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in hotel3 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12 text-center">
                    <h3 class="text-muted">Podopieczni</h2>
                </div>
            <div class="gallery-row">
                <div class="gallery-column">
                    {% for picture in psy1 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in psy2 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <div class="gallery-column">
                    {% for picture in psy3 %}
                    <a rel="gallery-2" href="img/photos/{{ picture }}.jpg" class="swipebox">
                        <img width="100%" src="img/photo_m/{{ picture }}.jpg">
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- <div class="gallery-column">
                   
                </div> -->
