<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="col-lg-8">
                        <h2 class="section-heading">O Hotelu</h2>
                        <p class="text-muted">
                          Hotel & SPA Dom Heidi znajduje się w Koźmicach Wielkich koło Wieliczki. Ta niewielka miejscowość położona jest w malowniczym paśmie Pogórza Wielickiego, pozbawiona wielkomiejskiego zgiełku, a jednocześnie zlokalizowana blisko Krakowa, Dobczyc, Myślenic.
                        </p>
                        <p class="text-muted">
Na miejscu pełen uroku dom w otoczeniu zieleni. Domowa atmosfera i  miłość do zwierząt widoczne są już od progu. Potwierdza to „psia rodzina” przyjaźnie witająca wszystkich gości. Kameralny charakter oraz indywidualne podejście do zwierząt sprawiają, że od razu mogą poczuć się bezpiecznie. Zostają włączone w życie domowników, otoczone z ich strony opieką i troską.
                        </p> <p class="text-muted">
Rytm dnia jak w codziennym życiu, chociaż tutaj wyznaczają go zwierzęta. Jest czas na posiłki, zabawę, spacery, odpoczynek. Wspólnie i indywidualnie, bo zazwyczaj miło jest spędzać czas razem, niekiedy jednak fajnie jest poleżeć spokojnie pod drzewem czy zdrzemnąć się w samotności. Każdy ma to zapewnione, bo najważniejsze jest zadowolenie gości przebywających w hotelu.
                               </p> <p class="text-muted">
Dom Heidi nawiązuje swą nazwą do wspaniałego Berneńczyka. Heidi była  pierwszym psem, który z nami zamieszkał, należała do naszej rodziny. Pozostały wspomnienia i miłość, którą otoczone są wszystkie zwierzęta trafiające pod nasz dach. To ona sprawia, że to miejsce jest wyjątkowe i szczególne.
                        </p>
                        <p class="text-muted">Hotel & SPA Dom Heidi dysponuje:</p>
<ul>
    <li>dużą działką ze stałym wybiegiem</li>
    <li>pokoikami typu boks na jedzenie i spanie</li>
    <li> zabawkami</li>
</ul>

                        <p class="text-muted">oferuje:</p>
<ul>
<li>transport i wyżywienie </li>
<li>zabiegi pielęgnacyjne w SPA (czesanie, kąpanie, strzyżenie, obcinanie pazurów, czyszczenie uszu i oczu)</li>
<li>na życzenie właściciela zdjęcia z pobytu</li>
<li>opiekę całodobową we współpracy z weterynarzem stacjonarnym i mobilnym.</li>
</ul>
 </p>     
                    </div>
                    <div class="col-lg-4 text-center">
                        <img style="" class="img-responsive img-circle" src="https://i.imgur.com/U6k3Jizl.png">
                        <h3 class="text-muted">Koźmice Wielkie 511</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
